body {
	margin: 0;
	background-color: #ffeecc;
	box-sizing: border-box;
	padding: 0;
	min-width: 480px;


}
.title-div{
	font-size: 2em;
	text-align: center;
	padding: 10px;
	margin: 2% 0;
	font-weight: bold;
	background-color:gainsboro;
}

.resource-container {
	display: grid;
	grid-template-columns: repeat(6, auto);
	font-size: 1..25em;
	text-align: center;
	gap: 5px;
	width: 80%;
	margin: 0 10% 0 10%; 
	background-color: burlywood;
	border: 1px solid black;
	border-radius: 5px;
}

.hidden {
	display: none;
}
.resource {
	
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	
	
}
.counter{
	
	margin-bottom: 20px;
}

.production {
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: center;
}
.worker{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80%;
	margin-top: 50%;
}
.worker button{
	height: 20px;
	width: 10px;
	
}

.production-image {
	width: 140px;
	height: 200px;
}
.production img {

	width: 120px;
	height: 120px;
	padding: 10px 0;
}

.production-container{
	display: grid;
	grid-template-columns: repeat(6, auto);
	font-size: 1.5em;
	text-align: center;
	gap: 20px;
	width: 80%;
	margin-right: 10%; 
	margin-left: 10%; 

	padding: 0 10;

}

.production-image {
	border: solid 1px;
	border-radius: 5px;
	background-color: burlywood; 
}

.worker {
	border: solid 1px;
	border-radius: 5px;
	margin-right: 5px;
}

.production p {
	font-size: 1em;
	margin: 5px 5px;

}

.hide-button{
	width: 20px;
	height: 20px;
}


footer {
	margin: 5% 0;
	text-align: center;
	color: white;
}



@media only screen and (max-width: 800px) {
	
	.resource-container {
	display: grid;
	grid-template-columns: repeat(3, auto);
	font-size: 1em;

	}

	.resource img{
		transform: scale(0.75);
	}
	.production-container{
		display: grid;
		grid-template-columns: repeat(3, auto);
		font-size: 1em;

	}
	.production-container img{
		transform: scale(.60);
		
	}
	
	.title-div{
		font-size: 1.25em;
	}
	.resource-container img{
		transform: scale(0.60);
	}

  }