*{
	margin: 0;
	padding: 0 ;
	box-sizing: border-box;
}

:root{
	--displayWidth: 800px;
}

.hidden{
	display: none;
}

.rip-animation {
	transform: rotate(90deg);
	transition: all 0.3s ease;
}

body{
	font-family: 'Montserrat', sans-serif ;
	max-width: var(--displayWidth);
	background-color: #fffdc9;
	height: auto;
	margin-bottom: 5%;
	min-width: 500px;
	
}
header{
	text-align:center;
	padding: 30px 20px;
	background-color: #c2c2c2;
}

#game-container{
	
}
#character-container{
	position:relative;
	
	background-color: #e0e0e0;
	text-align: center;
	padding: 20px 20px;
	border: solid 1px #000;
}
#battle-background{
	position:absolute;
	z-index: 950;
}

#hero-container, #enemy-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	z-index: 951;
}
#hero-container{
	position: absolute;
	bottom: 10%;
	left: 10%;
}
#enemy-container{
	position:absolute;
	bottom: 10%;
	right: 10%;
}

#hero-name, #enemy-name {
	color: #fff;
	font-weight: bold;
}

#hero-hp, #enemy-hp {
	color: #fff;
}
#enemy-hp-bar, #hero-hp-bar {
	width: 140px;
	height: auto;
	border: solid 1px black;
}

#enemy-hp-bar-progress, #hero-hp-bar-progress{
	width:100%;
	height: 20px;
	background-color: #85fa6e;
}

#info-container{
	margin: 20px 40px;
}

#battle-info-container{

	height: 100px;
	padding: 20px 30px;
	border: solid 1px #000;
	overflow: auto;
}
#battle-info-container p {
	margin-left: 15px; 
	margin-top: 20px;
	
}


#commands-container{
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	margin-top: 20px;
	width: auto;
	height: 200px;
	background-color: #c2c2c2;
	border: solid 1px #000;
	padding: 10px;
	gap: 10px;
}

.command{
	padding: 10px 20px;
	background-color: #e0e0e0;
}


.listHeader{
	font-size: 1.2rem;
	font-weight: bolder;
}

#skillList {
	list-style-type: none;
	position: absolute;
	width: 30%;
	top: -65%;
	left: 60%;
	z-index: 999;
	border: solid 1px black;
	padding: 10px 20px;
	background-color: #e0e0e0;

}

#itemList {
	list-style-type: none;
	position: absolute;
	width: 30%;
	top: 10%;
	left: 10%;
	z-index: 999;
	border: solid 1px black;
	padding: 10px 20px;
	background-color: #e0e0e0;

}

#skillList li, #itemList li{
	padding-top: 10px;
	margin-left: 5%;
}
#skillList button, #itemList button {
	font-size: 1rem;
	width:100%;
	height: 20px;
	border: none;
	background-color: transparent;
	align-items: center;
	justify-content: center;
	text-align: left;
	
}

#skillList li:hover, #itemList li:hover{
	background-color: #c2c2c2;
}


#game-start{
	z-index: 950;
	
	max-width: var(--displayWidth);
	width: 100%;
	height: auto;
	background-color: #fffdc9;
	border: 2px solid #000;
	
	
}

#game-start-hero-portait{
	position: absolute;
	top: 420px;
	left: 200px;
	z-index: 951;
	
}

#background{
	position: relative;
	width: 100%;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

#game-start-intro{
	
	position: absolute;
	z-index: 951;
	left: 210px;
	top: 200px;
	word-spacing: 2px;
	word-wrap: break-word;
	color: #fff;
	font-weight: bold;
	width: 400px;
	text-align: center;
	font-size: 1.5rem;
}


#start-button{
	position: absolute;
	z-index: 951;
	left: 360px;
	top: 450px;
	background-color: #fffdc9;
	border: 1px solid #fff;
	border-radius: 5px;
	font-size: 1rem;
	padding: 2px 5px;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s ease;
	-webkit-box-shadow: 5px 5px 5px 1px rgba(61,57,37,0.81); 
	box-shadow: 5px 5px 5px 1px rgba(61,57,37,0.81);
}
#start-button:hover {
	background-color: #FFEE9C;
	transition: all 0.3s ease;
}

#start-button:active {
	background-color: #FFEE9C;
	box-shadow: none;
	
}

#victory-board{
	border: 2px solid #000;
	height: 200px;
	width: 200px;
	padding: 10px 5px;
	border-radius: 4px;
	background-color:#fffdc9;

}
#victory-msg{
	padding-top: 10px;
	font-weight: bold;
	
	
}
#loot-ul {
	margin-top: 20px;
	list-style-type: none;
	margin-left: 10px; 
	text-align: left;
	
}
#loot-ul li{
	padding: 10px 10px;
	
}

#closure {
	position: absolute;
	max-width: var(--displayWidth);
	width: 100%;
	height: 85%;
	background-color: black;
	color: white;
	top: 20px;
	z-index: 999;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 10px solid #fffdc9;
	
	
}

#closure h2{
	margin: 20% 10%;
	line-height: 2.5rem;
	
}

#closure button{
	font-size: 1rem;
	height: 2rem;
	width: 8rem;
	border: 1px solid #fff;
	background-color: #e0e0e0;
	border-radius: 5px;
}


.attack_anim{
	animation: heroAttack  1s ease;
	animation-fill-mode: forwards;
}

@keyframes heroAttack {
  15% {transform:rotate(-15deg);}
  30% {transform:translateX(50px);}
  45% {transform:rotate(-15deg);}
}

.attack_anim_enemy{
	animation: enemyAttack  1s ease;
	animation-fill-mode: forwards;
}

@keyframes enemyAttack {
  15% {transform:rotate(-15deg);}
  30% {transform:translateX(-50px);}
  45% {transform:rotate(-15deg);}
}


#game-end-screen{
	z-index: 999;
	background-color: #c2c2c2;
	text-align: center;
	padding: 10%;
	margin: 5%;
	letter-spacing: 2px;
}
#retry-button{
	width: 100px;
	height: 30px;
	font-weight: bold;
	letter-spacing: 2px;
}

footer{
	padding-top:10%;
	text-align: center;
	font-weight: bold;
	font-size: 1rem;
	opacity: 0.5;
}