body {
	margin: 0;
	background-color: #ffeecc;
	box-sizing: border-box;
	padding: 0;
	min-width: 480px;


}
.title-div{
	font-size: 2em;
	text-align: center;
	padding: 10px;
	margin: 2% 0;
	font-weight: bold;
	background-color:gainsboro;
}

.resource-container {
	display: grid;
	grid-template-columns: repeat(4, auto);
	font-size: 1.25em;
	text-align: center;
	gap: 5px;
	width: auto;
	height:auto;
	margin: 5% 10% 0 10%; 
	background-color: burlywood;
	border: 1px solid black;
	border-radius: 5px;
}


.resource {
	
	display: grid;
	grid-template-columns: 1fr 10fr;
	align-items: center;
	gap: 10px;
	margin-left: 2%;
	
	
}
.counter{
	
	margin-bottom: 20px;
}


.production-container{
	display: grid;
	grid-template-columns: repeat(3, auto);
	font-size: 1em;
	text-align: center;
	gap: 20px;
	width: 10vw;
	height: 20vh;


}
.production {
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: center;
}
.worker{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80%;
	margin-top: 50%;
	width: 100%;
}
.worker button{
	height: 20px;
	width: 10px;
	margin: 5px;
	
}

.production-image {
	width: 100%;
	height: 100%;

}
.buy-prod-building{
	border: none;
	background-color: transparent;
	width: 80px;
	
	

}

.production img {

	width: 120px;
	height: 120px;
	padding: 10px 0;
	margin-left: -40%;
	
	
	
	
	
}





.production-image {
	border: solid 1px;
	border-radius: 5px;
	background-color: burlywood; 
	width: 120px;
	height: auto;
}



.max-workers {
	margin-bottom: 10px;
}

.worker {
	border: solid 1px;
	border-radius: 5px;
	margin-right: 5px;
}



.production p {
	font-size: 1em;
	margin: 5px 7px;
	

}

hr {
	margin: 20% 0;
}

footer {
	margin-top: 20%;
	text-align: center;
	color: grey;
	word-wrap: break-word;
}



/* <--tabbbbbbbssssss->> */

h2 {
	margin-left: 5%;
}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	width: 90%;
	margin: 0 5%;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
	background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
	background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
	display: none;
	padding: 6px 12px;
  }
  
  /* Style the close button */
  .topright {
	
	margin-top: 2%;
	margin-right: 1%;
	float: right;
	cursor: pointer;
	font-size: 28px;
  }
  
  .topright:hover {color: red;}





@media only screen and (max-width: 800px) {
	
	.resource-container {
	display: grid;
	
	font-size: 1em;

	}

	.resource img{
		transform: scale(0.60);
	}
	.production-container{
		display: grid;
		grid-template-columns: repeat(2, auto);
		font-size: 1em;

	}
	.production-container img{
		transform: scale(.60);
		
	}
	
	.title-div{
		font-size: 1.25em;
	}
	.resource-container img{
		transform: scale(0.60);
	}

  }